.elements {
  margin-top: 45px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 17px;
}

@media screen and (max-width: 768px) {
  .elements {
    margin-top: 36px;
    margin-right: 16px;
    margin-left: 16px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 402px) {
  .elements {
    grid-template-columns: repeat(1, 1fr);
  }
}
