.header__logo {
  max-width: 142px;
  margin-top: 45px;
  margin-bottom: 41px;
  max-height: 33px;
 
}

@media screen and (max-width: 880px) {
  .header__logo {
    margin-left: 27px;
    margin-top: 28px;
    max-width: 104px;
    margin-bottom: 31px;
  }
}
