.popup__title {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-top: 34px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  max-width: 330px;
}

@media screen and (max-width: 768px) {
  .popup__title {
    font-size: 18px;
    line-height: 22px;
  }
}
