.element__like-button {
  background-image: url(../../../images/like-image.svg);
  background-repeat: no-repeat;
  min-height: 18px;
  min-width: 20px;
  border: none;
  box-sizing: border-box;
  background-size: contain;
  padding: 0;
  background-color: #ffffff;
  cursor: pointer;
  outline: none;
}

.element__like-button:hover {
  opacity: .5;
}
