.popup__enter {
  width: 358px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 54px;
  padding-bottom: 13px;
}

.popup__enter:last-of-type {
  margin-top: 30px;
}

@media screen and (max-width: 768px) {
  .popup__enter {
    max-width: 232px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
  }
}
