.profile__add-button {
  /*position: absolute;
  right: 0;
  top: auto;*/
  margin-left: auto;
  margin-right: 0;
  background-image: url(../../../images/add-button.svg);
  background-color: #000000;
  min-width: 150px;
  min-height: 50px;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: .6;
}

@media screen and (max-width: 768px) {
  .profile__add-button {
    position: relative;
    margin-top: 36px;
    min-width: 282px;
    background-size: 17px;
    margin-right: auto;
    margin-left: auto;
  }
}
