.popup__submit-button {
  width: 358px;
  height: 50px;
  background: #000000;
  border-radius: 2px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  border: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
  margin-bottom: 37px;
  cursor: pointer;
}

.popup__submit-button:hover {
  opacity: .8;
}

@media screen and (max-width: 768px) {
  .popup__submit-button {
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 25px;
    margin-top: 45px;
  }
}
